.details{
  padding: 0 1rem;
  height: 100%;

  overflow: auto;
}

.mb-1{
  margin-bottom: 1rem;
}

.ratings{
  display: flex;
  justify-content: center;

  .success, .fake{
    display: flex;
  }

  &-success, &-fake{
    font-size: 1.2rem;
  }

  &-success{
    fill: #34A300 !important;
  }
  &-fake{
    fill: #E20000 !important;
  }
  .disable-ratings{
    transition: 0.2s;
    fill: grey
  }

  &-background{
    display: flex;
    background-color: rgba(54, 54, 54, 0.411);
    padding: 0 .5rem;
    border-radius: 50px;

    i{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img{
      min-width: 2rem;
    }

    p{
      font-weight: bolder;
      padding-right: 0.5rem;
      margin: 0.5rem;
    }
  }
}


app-news-card{
  width: 100%;
}

.description{
  width: 100%;
  min-height: 5rem;

  padding: 1rem;
  border-radius: 20px;

  background-color: #1B1B1B;
  color: white;

  &--title, &--description{
    margin: 0;
  }

  &--title{
    margin-bottom: 1rem;
  }
}

.comments{
  width: 100%;

  border-radius: 20px;

  background-color: #1B1B1B;
}

.rating-comment{

  .ratings{
    display: flex;
    justify-content: space-evenly;

    &-success, &-fake, .disable-ratings{
      font-size: 2rem;
    }
  }

  .comments--new{
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--input{
      flex: 1;
      margin-right: 1rem;
    }
    button{
      height: 2rem;
      width: 2rem;
    }
  }
}
