<section class="header">

  <ion-header class="header">
      <ion-title [class.disable-text]="openInput" >
        FAKE-NEWS
      </ion-title>

      <ion-icon>
      </ion-icon>

      <section *ngIf="activeSearchBar" class="header--input">
        <input class="searchbar" [class.searchbar-active]="openInput" [(ngModel)]="model" (ngModelChange)="searchCards($event)" type="text">
        <div class="search-icon">
          <ion-icon (click)="openInput = !openInput" name="search"></ion-icon>
        </div>
      </section>

      <section *ngIf="!disableProfileImage" [routerLink]="['/tabs/profile']" class="header--profile">
        <img class="header--profile-image" src="assets/imgs/profile_photo.jpg" alt="">
      </section>

  </ion-header>


</section>
