<div class="color-picker">
  <p>Cor de fundo da publicação</p>
  <div class="radio-group">
    <input id="grey" type='radio' name="color" checked/>
    <label class="grey" for="grey"></label>

    <input id="blue" type='radio' name="color"/>
    <label class="blue" for="blue"></label>

    <input id="red" type='radio' name="color"/>
    <label class="red" for="red"></label>

    <input id="yellow" type='radio' name="color"/>
    <label class="yellow" for="yellow"></label>

    <input id="green" type='radio' name="color"/>
    <label class="green" for="green"></label>
  </div>
</div>
