<div #card class="card"
[ngStyle]="news.imageSrc ? {'background-image': 'url(' + news.imageSrc + ')'} : {'background-color': news.color}">

  <section class="ratings" *ngIf="withRatings">
    <div class="ratings-background">
      <i><ion-icon class="ratings-success" name="checkmark-circle" color="green" ></ion-icon></i>
      <p>{{news.realRating}}</p>
      <i><ion-icon class="ratings-fake" name="alert-circle"></ion-icon></i>
      <p>{{news.fakeRating}}</p>
    </div>
  </section>

  <section *ngIf="withTitle" class="title">
    <p>{{news.title}}</p>
  </section>

  <div class="card-gradient"></div>
</div>
