<div #card class="card" 
[ngStyle]="news.imageSrc ? {'background-image': 'url(' + news.imageSrc + ')'} : {'background-color': news.color}">

  <section class="ratings">
    <div class="ratings-background">
      <i class="ratings-success"><img src="" alt=""></i>
      <p>{{news.realRating}}</p>
      <i class="ratings-error"><img src="" alt=""></i>
      <p>{{news.fakeRating}}</p>
    </div>
  </section>

  <section class="title">
    <p>{{news.title}}</p>
  </section>

  <div class="card-gradient"></div>
</div>