<app-header></app-header>

<div class="profile">

  <section class="profile-info">
    <img src="assets/imgs/profile_photo.jpg" alt="">
  </section>

  <section class="access">
    <p class="access--title title">Acesso e segurança</p>

    <p class="access--email">Alterar email</p>
    <div class="access--divider"></div>
    <p class="access--password">Alterar senha</p>
  </section>

  <section class="delete">
    <p class="delete--title title">Preferências da conta</p>
    <p class="delete--account">Apagar conta</p>
  </section>

</div>

