<span>
  <p>{{text}}</p>

  <div *ngIf="isImage; else elseIfCondition">
    <label for="file-input">
      <div id="import-file-button">
        <ion-icon name="image"></ion-icon>
      </div>
    </label>
    <input id="file-input" type="file" />
  </div>

  <ng-template #elseIfCondition>
    <textarea *ngIf="isTextArea; else elseCondition"></textarea>
  </ng-template>

  <ng-template #elseCondition>
    <input [(ngModel)]="model" (ngModelChange)="onChangeInput($event)" type="text">
  </ng-template>

  <p *ngIf="isOptional">(opcional)</p>

</span>
