<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="form-container">
    <div class="form-container-inputs">
      <ng-container *ngTemplateOutlet="title" ></ng-container>
      <ng-container *ngTemplateOutlet="coverImage" ></ng-container>
      <ng-container *ngTemplateOutlet="url" ></ng-container>
      <ng-container *ngTemplateOutlet="description" ></ng-container>
      <ng-container *ngTemplateOutlet="posted" ></ng-container>
    </div>
    <button (click)="nextPage()" [class.disabledButton]="!buttonEnable"><ion-icon name="arrow-forward"></ion-icon></button>
  </div>

</ion-content>

<ng-template #title >
  <div class="input-container"
       [class.currentInput]="currentTab === createNewsEnum.TITLE"
       [class.swipeToLeft]="currentTab === createNewsEnum.COVER_IMAGE">

      <p class="mt-5-mb-5">Qual o título da notícia?</p>
      <input class="primary-input" [(ngModel)]="news.title" (ngModelChange)="takeInfoForInput('title')" >
  </div>
</ng-template>

<ng-template #coverImage >
  <section
  class="coverImage"
  [class.currentInput]="currentTab === createNewsEnum.COVER_IMAGE"
  [class.swipeToLeft]="currentTab === createNewsEnum.URL">
    <p>Foto de capa</p>
    <label class="photo-container" for="file-selection">
      <ion-icon *ngIf="coverPhoto === ''" class="photo-container-icon" name="camera-outline"></ion-icon>
      <img *ngIf="coverPhoto!==''" [src]="coverPhoto" alt="">
    </label>

    <input type="file"
    accept="image/*"
    id="file-selection"
    (change)="handleFileInput($event.target.files[0])"
    >

    <div class="colorPick">
      <app-color-picker (takeColor)="takeColor($event)" ></app-color-picker>
    </div>
  </section>

</ng-template>

<ng-template #url >
  <div class="input-container"
       [class.currentInput]="currentTab === createNewsEnum.URL"
       [class.swipeToLeft]="currentTab === createNewsEnum.DESCRIPTION">

    <p class="mt-5-mb-5">Qual a URL da notícia?</p>
    <input class="primary-input" [(ngModel)]="news.url" (ngModelChange)="takeInfoForInput('url')" >
  </div>
</ng-template>

<ng-template #description >
  <div class="input-container"
       [class.currentInput]="currentTab === createNewsEnum.DESCRIPTION"
       [class.swipeToLeft]="currentTab === createNewsEnum.POSTED">

    <p class="mt-5-mb-5">Conte-nos melhor sobre o assunto</p>
    <textarea class="primary-text-area" [(ngModel)]="news.description" (ngModelChange)="takeInfoForInput('description')" >
    </textarea>
  </div>
</ng-template>

<ng-template #posted >
  <section
  class="posted-container"
  [class.currentInput]="currentTab === createNewsEnum.POSTED"
  >
  <div>
    <ion-icon name="checkmark-circle" class="posted-container-icon"></ion-icon>
    <p>Sua notícia foi postada!</p>
  </div>
  </section>
</ng-template>
