<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="form-container">
    <div class="form-container-inputs">
      <ng-container *ngTemplateOutlet="title" ></ng-container>
      <ng-container *ngTemplateOutlet="coverImage" ></ng-container>
      <ng-container *ngTemplateOutlet="url" ></ng-container>
    </div>
    <app-arrow-circle (click)="nextPage()" ></app-arrow-circle>
  </div>

</ion-content>

<ng-template #title >
  <app-creation-input
  [class.currentInput]="currentTab === createNewsEnum.TITLE"
  [class.swipeToLeft]="currentTab === createNewsEnum.COVER_IMAGE" 
  text="Qual o título da notícia?"></app-creation-input>
</ng-template>

<ng-template #coverImage >
  <section
  class="coverImage"
  [class.currentInput]="currentTab === createNewsEnum.COVER_IMAGE" 
  [class.swipeToLeft]="currentTab === createNewsEnum.URL" >
  <p>Foto de capa</p>
  <label class="photo-container" for="file-selection">
    <ion-icon *ngIf="coverPhoto === ''" class="photo-container-icon" name="camera-outline"></ion-icon>
    <img *ngIf="coverPhoto!==''" [src]="coverPhoto" alt="">
  </label>

  <input type="file" 
  accept="image/*"
  id="file-selection" 
  (change)="handleFileInput($event.target.files[0])"
  >
</section>
</ng-template>

<ng-template #url >
  <app-creation-input 
  [class.currentInput]="currentTab === createNewsEnum.URL" 
  text="Qual a URL da notícia?"></app-creation-input>
</ng-template>
